.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-0 {
  margin-bottom: 0px;
}

.consolas {
  font-family: Consolas;
}

.white-c {
  color: #fff !important;
}

.form {
  width: calc(100% - 16px);
}

.form-full-width {
  width: 100%;
}

.form-text-area {
  padding-bottom: 100px;
}

.form-input {
  background-color: #fafafa01;
}

.form-panel {
  background-color: #fafafa01;
  width: calc(100% - 16px);
  border-radius: 10px;
  max-width: 650px;
}

.custom-button {
  color: #000;
  background-color: #a5a5de;
}

mat-label {
  color: #a5a5de;
}
