<mat-toolbar class="light-blue-bgc">
  <div *ngIf="isHandset$ | async; else isNotHandset">
    <button mat-icon-button class="white-c" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu class="consolas" #menu="matMenu">
      <button mat-menu-item (click)="navigate('/home')">Home</button>
      <button mat-menu-item (click)="navigate('/projects')">Projects</button>
      <button mat-menu-item (click)="navigate('/contact')">Contact</button>
    </mat-menu>
  </div>

  <ng-template #isNotHandset>
    <button
      class="black-c consolas fs-20 mr-8"
      mat-button
      (click)="navigate('/home')"
    >
      Home
    </button>
    <button
      class="black-c consolas fs-20 mr-8"
      mat-button
      (click)="navigate('/projects')"
    >
      Projects
    </button>
    <button
      class="black-c consolas fs-20 mr-8"
      mat-button
      (click)="navigate('/contact')"
    >
      Contact
    </button>
  </ng-template>

  <span class="spacer"></span>
  <i
    matTooltip="github"
    class="devicon-github-original mr-16"
    (click)="openGitHubUrl()"
  ></i>
  <i
    matTooltip="linkedin"
    class="devicon-linkedin-plain"
    (click)="openLinkedInUrl()"
  ></i>
</mat-toolbar>

<router-outlet></router-outlet>
