.light-blue-bgc {
  background-color: #a5a5de;
}

.consolas {
  font-family: Consolas;
}

.black-c {
  color: #000 !important;
}

.fs-20 {
  font-size: 20px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.devicon-github-original:hover {
  color: #393939;
}

.devicon-linkedin-plain:hover {
  color: #393939;
}

i {
  font-size: 40px;
}
